<html>

    <head>      
    </head>

    <body>
        <!-- Начало таблицы -->
        <table border="1">
            <!-- Заголовки столбцов таблицы -->
            <tr><th>name</th><th>town</th><th>age</th></tr>
            <!-- Цикл для каждого пользователя в списке пользователей -->
            {% for user in users.values() %}
                <!-- Создание строки таблицы для каждого пользователя -->
                <tr><td>{{ user["name"] }}</td> <td>{{ user["city"] }}</td> <td>{{ user["age"] }}</td></tr>
            {% endfor %}
        </table>        
    </body>
</html>
